.build/
build/
DerivedData/
*.xcuserstate
xcuserdata/
.DS_Store
.env*
*.p8
*.p12
*.mobileprovision
fastlane/report.xml
fastlane/test_output/
fastlane/Preview.html
.bundle/
vendor/bundle/
fastlane/screenshots/
